/* theme */
:root {
    --main: #FFA384;
    --secondary: #74BDCB;
    --text: #2b2e30;
}

#wrapper {
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--main);
    align-items: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

#about-me-content {
    padding: 50px;
}

.title {
    font-family: 'Quintessential', cursive;
    font-size: 4rem;
    padding-left: 20px;
}

.content {
    font-family: 'Rowdies', cursive;
    font-size: 2rem;
}

#main-picture {
    height: 100%;
}

@media screen and (max-width: 1200px) {
    #wrapper {
        flex-direction: column;
    }

    .title{
        font-size: 2rem;
        text-align: center;
    }
    .content{
        font-size: 1rem;
        text-align: center;
        max-width: 614px;
    }

    #main-picture {
        content: url(../images/mainPictureThin.png);
    }

}